@charset "UTF-8";
html {
  writing-mode: vertical-rl;
  font-family: 'Noto Sans CJK JP', sans-serif;
  font-style: normal;
  text-align: justify;
  text-spacing: space-first allow-end ideograph-alpha ideograph-numeric;
  line-height: 2;
}
p {
  font-weight: 300;
  margin: 0;
  text-indent: 1em;
  hanging-punctuation: first allow-end;
}
h1 {
  font-weight: 900;
}
h2 {
  font-weight: 500; 
}