@charset "UTF-8";

html {
  writing-mode: vertical-rl;
  font-family: 'DFMinchoPPro6N-W3', serif;
  font-style: normal;
  text-align: justify;
  text-spacing: space-first allow-end ideograph-alpha ideograph-numeric;
  line-height: 2;
}

p {
  margin: 0;
  text-indent: 1em;
  hanging-punctuation: first allow-end;
}

h1 {
  font-family: 'DFKingGothicJP16N-Ultrabold', sans-serif;
}

h2 {
  font-family: 'DFKingGothicJP16N-Semibold', sans-serif;
}